# Ambiente virtual
venv/
.venv/

# Variáveis de ambiente
.env

# Python
__pycache__/
*.pyc
*.pyc
__pycache__/
db.sqlite3

# Banco local
db.sqlite3

# VS Code
.vscode/

# PyCharm
.idea/

# Arquivos temporários
*.log