# Ambiente virtual
venv/
.venv/

# Variáveis de ambiente
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Banco SQLite
db.sqlite3

# Arquivos estáticos gerados
staticfiles/

# IDE
.vscode/
.idea/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db