{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGC Loja</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    </head>
<body>

<header>
    <div class="logo">
        SGC VH
    </div>

    <nav>
        <a href="/api/produtos/"><i class="fa-solid fa-shirt"></i> Produtos</a>
        <a href="/api/clientes/"><i class="fa-solid fa-users"></i> Clientes</a>
        <a href="/api/vendas/"><i class="fa-solid fa-cart-shopping"></i> Vendas</a>
        <a href="/relatorios/vendas/"><i class="fa-solid fa-chart-bar"></i> Relatórios</a>
    </nav>
</header>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>