{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGC Loja</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=20260624-purple">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<header>
    <a class="logo" href="/">SGC VH</a>

    <nav>
        <a href="/"><i class="fa-solid fa-house"></i> Inicio</a>
        <a href="/produtos/"><i class="fa-solid fa-shirt"></i> Produtos</a>
        <a href="/clientes/"><i class="fa-solid fa-users"></i> Clientes</a>
        <a href="/vendas/"><i class="fa-solid fa-cart-shopping"></i> Vendas</a>
        <a href="/cep/"><i class="fa-solid fa-location-dot"></i> CEP</a>
        <a href="/login/"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
    </nav>
</header>

<main class="container">
    {% block content %}
    {% endblock %}
</main>

{% block scripts %}
{% endblock %}
</body>
</html>
